@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/EightBall.css" />

<div class="firstPage">
    <img src="~/images/eightball/magic8ballback.jpg" alt='Magic 8 ball' width='450 height='450'>
    <form action="/MagicEightBall/ShakeBall">
        <label style="color:black">
            Write a yes or no question that you'd like the magic 8 ball to answer for you!
        </label>
        <br />
        <input type="text" name="question" />
    </form>
</div>
